.main {
  margin: 50px;

  margin-left: 10%;
  display: flex;
  justify-content: center;
}

.timer {
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
}
.finishbtn {
  padding: 10px;
  font-size: 1rem;
  font-family: BatmanForeverAlternate;
  font-weight: 600;
  position: absolute;
  margin: 0 10px;
  top:10vh;
  right: 10px;
  border-radius: 5px;
  color: #1faeff;
  cursor: pointer;
  background: rgba(31,174,255,.11);
  border: 0.5px solid #1faeff;
}

.timer p {
  font-size: 1.6rem;
}
@media (max-width: 1200px) {
  .main {
    margin: 80px;
    margin-left: 10%;
    display: block;
    justify-content: center;
  }
}
