.main {
  margin: 50px;

  margin-left: 10%;
  display: flex;
  justify-content: center;
}

.timer {
  text-align: center;
  margin-top: 30px;
  font-size: 3rem;
}
.finishbtn {
  font-size: 2rem;
  position: absolute;
  left: 85vw;
  bottom: 4vw;
  background-color: white;
  cursor: pointer;
}

.timer p {
  font-size: 1.6rem;
}
@media (max-width: 1200px) {
  .main {
    margin: 80px;
    margin-left: 10%;
    display: block;
    justify-content: center;
  }
}
