.main {
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
}
.brandtitle {
  text-align: center;
  padding: 10px;
  font-size: 1.7rem;
}

.logbtn button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 8%;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1rem;
}

.logbtn button {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.logbtn button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

@media (max-width: 1100px) {
  .main {
    width: 80vw;
  }
}

@media (max-width: 782px) {
  .main {
    width: 90vw;
  }
}

@media (max-width: 550px) {
  .brandtitle {
    font-size: 1.2rem;
  }

  .main {
    width: 95vw;
  }
}

.laddernav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #5055cb;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #686ef9;
}
.laddertitle {
  flex: 2;
}

.laddernav h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.laddernavresults,
.laddernavresultsplayers {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 25px;
}
.laddernavresults label {
  font-size: 18px;
  font-weight: bold;
}
.laddernavresultscol,
.resultscol {
  flex: 1;
}
.laddernavresults {
  margin: 5px 0px;
}
.laddernavresultsplayers {
  background: #1d1d1d;
  border-radius: 10px;
  margin: 5px 0px;
  align-items: center;
}
.laddernavresultsplayers:nth-of-type(1) {
  color: #686ef9;
}
.resultscol {
  font-size: 18px;
  color: #747474;
  font-weight: light;
}
.resultsrank {
  display: block;
  background: #686ef9;
  color: white !important;
  font-weight: bold;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
}
.positions {
  vertical-align: middle;
}
.laddernavresultsplayers:hover {
  background: #1a1a1a;
}
